backend/node_modules/
frontend-ke-toan/node_modules/
frontend-lanh-dao/node_modules/
.cursor/
backend/.env
frontend-ke-toan/.env
frontend-lanh-dao/.env
backend/dist/
frontend-ke-toan/dist/
frontend-lanh-dao/dist/
.next